extends _template
 
block variables
    - var title= 'КитченТайм - все для кухни'
    - var url_js= 'index.js' 
    - var body_class= 'index-page' 

block content
    include pages/index/_slider
    
    