extends _template
 
block variables
    - var title= 'КитченТайм - все для кухни'
    - var url_js= 'index.js' 
    - var body_class= 'index-page' 

block content
    include pages/index/_slider
    include pages/index/_pic-menu
    include pages/index/_promo
    include pages/index/_news
    include pages/index/_popular
    include pages/index/_recomend-product
    include pages/index/_video
    include pages/index/_dont-miss
    include pages/index/_subscribe
    include pages/index/_advantages

block script
    script(src="https://www.youtube.com/iframe_api")
    
    