.label {
    color: $white;
}
.input {
    $height: 50px;
    height: $height;
    line-height: $height; 
    padding: 0 10px;
    background-color: transparent;
    border: 2px solid $white;
    color: $white;
}


input::-moz-placeholder { color: $white; }
input::-webkit-input-placeholder { color: $white; }

