.advantages {
    position: relative;
    background: url('../img/advantages-bg.jpg') no-repeat center;
    background-size: cover;
    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba($white, 0.6);
    }
    .icon {
        width: 30px;
        height: 30px;
        margin-bottom: 15px;
    }
}

.advantages__item {
    position: relative;
    flex: 1;
    padding: 25px;
    background-color: $white;
    margin-bottom: 10px;

    &.advantages__pic--best {
        .advantages__desc {
            padding-right: 50%;
        }
        .advantages__pic {
            right: 25px;
            &:after {
                top: 40px;
                left: -20px;
                right: 0;
                bottom: 0;
                background: url('../img/index/advantages/busines-card.png') no-repeat;
                background-size: 105%;
            }
        }
    }

    &.advantages__pic--natural {
        .advantages__desc {
            padding-right: 50%;
        }
        .advantages__pic {
            &:after {
                top: 15px;
                left: 10px;
                right: -30px;
                bottom: 0;
                background: url('../img/index/advantages/true.png') no-repeat;
                background-size: 85%;
                transform: rotate(20deg);
            }
        }
    }
}

.advantages__heading {
    text-transform: uppercase;
    font-family: 'robotobold', sans-serif;
    &::after {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        margin-top: 15px;
        background-color: #000;
        margin-bottom: 10px;
    }
}

.advantages__desc {
    line-height: 1.4;
}

.advantages__pic {
    position: absolute;
    top: 25px;
    right: 35px;
    bottom: 25px;
    width: 40%;
    padding: 40px; 
    &:after {
        content: '';
        position: absolute;
        z-index: 2;
        height: 100%;
        display: block;
    }
}