.dont-miss-slider__dots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;
    .slick-dots {
        display: flex;
        order: 2;
        margin: 0 20px;
        li {
            margin: 0 5px;
        }
    }
}

.slick-active {
    .dont-miss-slider__dot {
        background-color: $btn-product;
    }
}

.dont-miss-slider__dot {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid $btn-product;
    border-radius: 50%;  
    cursor: pointer;     
}

.dont-miss-slider__arrow {
    background-color: $btn-product;
    border: 1px solid $black;
    @include elem-size(50px);
    cursor: pointer;
    .icon {
        fill: $white;
        @include absolute-center();
        @include elem-size(21px, 17px);
    }
}

.dont-miss-slider__arrow-prev {
    order: 1;
    transform: rotate(90deg);
}
.dont-miss-slider__arrow-next {
    order: 3;
    transform: rotate(-90deg);
}