.pic-menu {
    margin-top: -30px;    
}
.pic-menu__line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pic-menu__left,
.pic-menu__right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 49.5%;
}

.pic-menu__50 {
    display: flex;
    justify-content: space-between;
    width: 49%;
    flex-shrink: 0;
}
.pic-menu__100 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
}

.pic-menu__25 {
    width: 49%;
    flex-shrink: 0;
}

.pic-menu__item {
    position: relative;
    width: 100%;
    height: 280px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;    
}

.pic-menu-review {
    height: 570px;
}

.pic-menu__overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay-pic;
}

.pic-menu-review-content {
    position: relative;
    z-index: 10;
    color: #fff;
}

.pic-menu__man {
    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 3;
        top: -50px;
        bottom: 0;
        right: -100px;
        width: 80%;
        background: url('../img/index/pic-menu/man.png') no-repeat;
        background-size: cover;
    }
}

.pic-menu__nav {
    position: absolute;
    z-index: 10;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background-color: rgba(#000, 0.8);

    a {
        color: #fff;
        text-decoration: underline;
        word-break: break-all;
    }
}

.pic-menu-review-content {
    width: 45%;
    padding-left: 30px;
    padding-top: 30px;
}

.pic-menu-review__heading {
    margin-bottom: 20px;    
    font-size: 2.8rem;
    font-family: 'robotomedium', sans-serif;
}

.pic-menu-review__desc {
    line-height: 1.4;
    margin-bottom: 30px;

    &::after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        margin-top: 30px;
        background-color: #fff;
    }
}

.pic-menu__nav-btn {
    display: flex;
    padding-left: 30px;
    a {
        margin-top: auto;
        margin-bottom: auto;
        color: #000;
    }
}

// .decor-line {
//     display: block;
//     width: 30px;
//     height: 3px;
//     background-color: #fff;
//     margin-top: 30px;
//     margin-bottom: 30px;
// }

.pic-menu-review__author {
    text-transform: uppercase;
    margin-bottom: 8px;
}

.pic-menu-review__author-decs {
    color: $acsent;
}

.pic-menu__nav-title {
    display: inline-block;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.pic-menu-list {
    display: flex;
    flex-wrap: wrap;

    .pic-menu-list__item:last-child {
        a {
            color: $acsent;
        }
    }
}
.pic-menu-list__item {
    margin-right: 10px;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
        margin-right: 0;
    }

}