.promo {
    background: url('../img/promo-bg.jpg') no-repeat center;
    background-size: cover;
    &:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($white, 0.9);
    }
}