.subscribe {
    background: url('../img/subscribe-bg.jpg') no-repeat center;
    background-size: cover;
    &:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: darken(rgba(grey, 0.9), 40%);
    }
}

.subscribe__form {
    position: relative;
    max-width: 700px;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    background: url('../img/subscribe-form-bg.png') no-repeat center;
    background-size: contain;
    color: $white;

    .input {
        flex: 1;
        margin: 0 10px;
    }
}

.subscribe__form-content {
    padding: 0 50px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subscribe__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.subscribe__form-descr {
    padding: 0 30px;
    text-align: center;
    line-height: 1.3;
}