body,
html {
    height: 100%;
    width: 100%;
}

html {
    line-height: 1;
    font-size: 62.5%;
    box-sizing: border-box;
    color: $text-color_main;
}

body {
    font-size: 1.6rem;
    font-family: $main-font;
    background-color: $white;
    @include desktop() {
        font-size: 1.5rem;
    }
    @include laptop() {
        font-size: 1.4rem;
    }
    @include phone() {
        font-size: 1.3rem;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
*:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
}

input,
select,
button {
    outline: none;
}

textarea {
    resize: none;
}

audio,
video,
canvas,
iframe,
img,
svg {
    vertical-align: middle;
}

section {
    position: relative;
    padding: 60px 0; 
}

.container {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    @include wrapper();
}

.row {
    @include row-flex();
    justify-content: space-between;
}

.col {
    @include col();
}

.btn {
    $height: 50px;
    display: inline-block;
    height: $height;
    line-height: $height;
    padding: 0px 20px;
    background-color: $white;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    &.btn--black {
        color: $white;
        background-color: $btn-product;
    }
    &.btn--nounder {
        text-decoration: none;
    }  
}

.item__bottom-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: left;
    background-color: $btn-product;
}

.section__heading {
    margin-bottom: 30px;
    font-family: 'robotobold', sans-serif;
    font-size: 3.2rem;  
    text-align: center;  

    &.section__heading--white {
        color: $white;
    }
}

.btn-wrap__center {
    text-align: center
}

// Стили Promo или Акции
@import './modules/promo-news-prev.scss';

// Стили Promo или Акции
@import './modules/forms.scss';