// fonts
$main-font: "robotoregular", sans-serif;
$mediumFont: "robotomedium", sans-serif;

// text-size
$text-size_main: 16px;
$text-size_h1: 63px;
$text-size_h2: 35px;
$text-size_h3: 28px;

// width

$desktop_width: 1140px;

// colors
$acsent: #FB3E13;
$acsent-hov: #043ea3;
$white: #fff;
$black: #000;
$sandColor: #d09f74;
$overlay-pic: rgba(0, 128, 128, 0.9);
$btn-product: #353435;

// bg colors
$header-bg: #131214;
$main-bg: #0F0E0F; 

// text-color
$text-color_main: #474b57;