section.advantages
    .container
        h2.section__heading Преимущества
        .cont__line
            .cont__50
                .advantages__item.advantages__pic--best
                    +icon('best-brand')
                    .advantages__heading Лучшие Бренды
                    .advantages__desc 
                        | Предагаем качественные во всем мире марки посуды и техники для готовки и сервировки, признанные профессионалами бренды ножей, красивый хрусталь, который можно встретить в самых стиьных домах Европы, и стильные аксессуары дя кухни.
                    .advantages__pic
            .cont__50
                .cont__25
                    .advantages__item
                        +icon('quality')
                        .advantages__heading Отменное качество
                        .advantages__desc 
                            | Каждый товар имеет непревзойденное качество, великолепный дизайн, экологичность, безопасность материалов. Функциональность, надежность и долговечность.
                .cont__25
                    .advantages__item
                        +icon('quality-badge')
                        .advantages__heading Гарантия
                        .advantages__desc 
                            | На весь ассортимент в нашем магазине, предоставляется гарантия сроком на 1 (один) год.
        .cont__line
            .cont__50
                .cont__25
                    .advantages__item
                        +icon('delivery-truck')
                        .advantages__heading Доставка по всей России
                        .advantages__desc 
                            | Продаем посуду в регионы. Осуществляем доставку посуды в Москве и по всей России.
                .cont__25
                    .advantages__item
                        +icon('idea')
                        .advantages__heading Вдохновение
                        .advantages__desc 
                            | Посуда способна создать уникальную атмосферу на кухне и за обеденным столом. Утонченные и изысканные вещи вдохновят на создание уникальных блюд.
            .cont__50
                    .advantages__item.advantages__pic--natural
                        +icon('natural')
                        .advantages__heading Подлинные товары
                        .advantages__desc 
                            | Вы защищены от подделок и получаете гарантию подлинности товара. Благодоря тому, что мы работаем с брендами-производителями напрямую, у нас минимальные розничные цены на весь ассортимент.
                        .advantages__pic