section.pic-menu
    .container
        .cont__line
            .cont__50
                .cont__line
                    .cont__25
                        .pic-menu__item(style="background-image:url('assets/img/index/pic-menu/furnitura.jpg')")
                            .pic-menu__nav
                                a(href="javascript:void(0);").pic-menu__nav-title Мебель
                                ul.pic-menu-list
                                    +picMenu('javascript:void(0);','Кухни')
                                    +picMenu('javascript:void(0);','Столы')
                                    +picMenu('javascript:void(0);','Стулья')
                                    +picMenu('javascript:void(0);','Барная')
                                    +picMenu('javascript:void(0);','мебель')
                                    +picMenu('javascript:void(0);','Еще 15 разделов')
                    .cont__25
                            .pic-menu__item(style="background-image:url('assets/img/index/pic-menu/wine-cellar.jpg')")
                                .pic-menu__nav
                                    a(href="javascript:void(0);").pic-menu__nav-title Хранение вина
                                    ul.pic-menu-list
                                        +picMenu('javascript:void(0);','Мебель для хранения')
                                        +picMenu('javascript:void(0);','Винные')
                                        +picMenu('javascript:void(0);','шкафы')
                                        +picMenu('javascript:void(0);','Еще 3 разделов')
                .cont__line
                    .pic-menu__item(style="background-image:url('assets/img/index/pic-menu/appliances.jpg')")
                        .pic-menu__nav
                            a(href="javascript:void(0);").pic-menu__nav-title Крупная и мелкая бытовая техника
                            ul.pic-menu-list
                                +picMenu('javascript:void(0);','Холодильники')
                                +picMenu('javascript:void(0);','Морозильники')
                                +picMenu('javascript:void(0);','Варочные центры')
                                +picMenu('javascript:void(0);','Еще 10 разделов')
                            ul.pic-menu-list
                                +picMenu('javascript:void(0);','Кулеры')
                                +picMenu('javascript:void(0);','Пурефаеры')
                                +picMenu('javascript:void(0);','Чайники')
                                +picMenu('javascript:void(0);','Еще 27 разделов')
            .cont__50
                .pic-menu__item.pic-menu-review.pic-menu__man(style="background-image:url('assets/img/index/pic-menu/man-bg.jpg')")
                    .pic-menu__overlay
                    .pic-menu-review-content
                        .pic-menu-review__heading Лучшая кухонная утварь у нас
                        .pic-menu-review__desc 
                            | Не консервативная сила категорически влияет на состовляющие гидроскопического момента больше, чем гравитационный предел функции. Неравенство Бернулли, в первом приближении, относительно.
                        .pic-menu-review__author Дмитрий Сметанин
                        .pic-menu-review__author-decs Телеведущий
                    .pic-menu__nav.pic-menu__nav-btn
                        a.btn.btn-g(href='javascript:void(0);') Узнать больше


        .cont__line
            .cont__50    
                .cont__line        
                    .cont__25
                        .pic-menu__item(style="background-image:url('assets/img/index/pic-menu/kitchen-glass.jpg')")
                            .pic-menu__nav
                                a(href="javascript:void(0);").pic-menu__nav-title Бар и Хрусталь
                                ul.pic-menu-list
                                    +picMenu('javascript:void(0);','Стекло и подача')
                                    +picMenu('javascript:void(0);','Еще 32 раздела')       
                    .cont__25      
                        .pic-menu__item(style="background-image:url('assets/img/index/pic-menu/knifes.jpg')")
                            .pic-menu__nav
                                a(href="javascript:void(0);").pic-menu__nav-title Ножи
                                ul.pic-menu-list
                                    +picMenu('javascript:void(0);','Наборы ножей')
                                    +picMenu('javascript:void(0);','Ножи')
                                    +picMenu('javascript:void(0);','поварские')
                                    +picMenu('javascript:void(0);','Еще 11 разделов')      
            .cont__50 
                .cont__line
                    .pic-menu__item(style="background-image:url('assets/img/index/pic-menu/plates-1.jpg')")
                        .pic-menu__nav
                                a(href="javascript:void(0);").pic-menu__nav-title Посуда
                                ul.pic-menu-list
                                    +picMenu('javascript:void(0);','Наборы посуды')
                                    +picMenu('javascript:void(0);','Наборы кастрюль')
                                    +picMenu('javascript:void(0);','Кастрюли')
                                    +picMenu('javascript:void(0);','Крышки и съемные')
                                    +picMenu('javascript:void(0);','ручки')
                                    +picMenu('javascript:void(0);','Сотейники и ковши')
                                    +picMenu('javascript:void(0);','Еще 20 разделов')  

        .cont__line
            .cont__50 
                .cont__line
                    .pic-menu__item(style="background-image:url('assets/img/index/pic-menu/utensils.jpg')")
                        .pic-menu__nav
                            a(href="javascript:void(0);").pic-menu__nav-title Кухонная утварь
                            ul.pic-menu-list
                                +picMenu('javascript:void(0);','Наборы кухонных аксессуаров')
                                +picMenu('javascript:void(0);','Банки для сыпучих товаров')
                                +picMenu('javascript:void(0);','Кастрюли')
                                +picMenu('javascript:void(0);','Еще 45 разделов')  
            .cont__50 
                .cont__25
                    .pic-menu__item(style="background-image:url('assets/img/index/pic-menu/plates-2.jpg')")
                        .pic-menu__nav
                            a(href="javascript:void(0);").pic-menu__nav-title Сервировка
                            ul.pic-menu-list
                                +picMenu('javascript:void(0);','Блюда для закусок')
                                +picMenu('javascript:void(0);','Менажницы')
                                +picMenu('javascript:void(0);','Еще 27 разделов')        
                .cont__25        
                    .pic-menu__item(style="background-image:url('assets/img/index/pic-menu/textiles.jpg')")
                        .pic-menu__nav
                            a(href="javascript:void(0);").pic-menu__nav-title Текстиль
                            ul.pic-menu-list
                                +picMenu('javascript:void(0);','Салфетки подстановочные')
                                +picMenu('javascript:void(0);','Еще 45 разделов')