section.index-slider
    .js-index-slider
        .index-slider__irem
            img(src="./assets/img/header/header-bg.jpg")
        .index-slider__irem
            img(src="./assets/img/header/header-bg.jpg")
        .index-slider__irem
            img(src="./assets/img/header/header-bg.jpg")