section.subscribe
    .container
        h2.section__heading.section__heading--white Подпишитесь на новости
        .form-wrap
            form.subscribe__form
                .subscribe__form-content
                    .subscribe__line
                        label(for="subsc-email").label
                            | Ваш E-mail
                        input(type="email", name="mail").input.input-email
                        input(type="submit", value="Подписаться").btn.btn--nounder  
                    .subscribe__form-descr
                        | Раз в неделю мы рассказываем о поступлении новых товаров, акциях и новостях нашего магазина. В любой момент сможете отказаться от подписки. Без спама.
